container-fluid{
	margin: 0;
	padding: 0;
}

.nav{
	border-radius: 0px;
	background-color: #dfe6e9;
	height: 80px;
}

.navbar-brand{
  font-size: 35px;
  color: #4b7bec;
  padding-left: 25px;
}

.navbar-brand:hover{
	color: #4b7bec;
}

.nav{
	margin: 0;
	padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}

.icon-bar{
	background-color: #ff7675;
}


.title{
  margin-bottom: 15px;
  text-align: center;
  color: #ff4532;
  font-size: 50px;
  font-family:  cursive, sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #dfe6e9;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu:hover{
	background-color: #a29bfe;
	color: #74b9ff;
}
.row{
	margin: 20px;
}
.boxcontent{
	margin: 20px;
	width: auto;
	height: auto;
	color: #fc5c65;
	background-color: #ffeaa7;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.items{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

}